<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Detail of project</h3>
            </div>

            <div class="panel-body main-panel">
                <div> Id : {{project._id}}</div>
                <div> Name : {{project.name}}</div>
                <div> Description : {{project.description}}</div>
                <div> Montant : {{project.goal}}</div>
            </div>
        </div>
    </div>
</div>

