<div class="row">

    <div class="col-md-3 discover-categories">
        <p class="lead">Projects</p>
        <div class="list-group">
            <a ng-click="loadProjects('all')" class="list-group-item">All</a>
            <a  ng-click="loadProjects('finished')" class="list-group-item">Finished</a>
            <a  ng-click="loadProjects('toFinish')" class="list-group-item">To finish</a>
        </div>

        <p class="lead">Category</p>
        <div class="list-group" >
            <a ng-click="loadProjects('all')" class="list-group-item">All</a>
            <a ng-repeat="category in categories" ng-click="loadCategory(category)" class="list-group-item">{{category}}</a>
        </div>
    </div>

    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">My projects</h3>
            </div>

            <div class="panel-body main-panel">
                    <div ng-repeat="project in listProjects | orderBy : 'date':true | projectsProgression: displayProgression | projectsCategory: selectedCategory"
                         card-directive project="project" on-update="reloadProject">

                    </div>
            </div>
        </div>
    </div>
</div>